<div class="container-fluid my-4">
  <div class="d-flex justify-content-evenly align-items-center my-3">
    <!-- Search Component -->
    <app-search-by-name (searchResults)="handleSearchResult($event)"></app-search-by-name>

    <button  class="btn btn-success">
      <a routerLink="/create-product" class="text-white text-decoration-none">Create</a>
    </button>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8 table-responsive">
      <!-- Table displaying product data -->
      <table class="table table-bordered ">
        <thead class="thead-dark">
          <tr class="text-center">
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody class="text-center">
          <tr *ngFor="let product of products" class="align-middle">
            <td><img [src]="product.image" alt="Product Image" width="100" height="100" class="rounded"></td>
            <td>{{ product.name }}</td>
            <td>{{ product.price | currency }}</td>
            <td>{{ product.category }}</td>
            <td>
              <button class="btn btn-danger me-2" (click)="deleteProduct(product.id)">Delete</button>
              <button class="btn btn-info">
                <a routerLink="/update-product/{{product.id}}" class="text-white text-decoration-none">Update</a>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Pagination Controls -->
      <div class="d-flex justify-content-between mt-3">
        <button class="btn btn-primary" [disabled]="!previousPage" (click)="previousPageHandler()">Previous</button>
        <button class="btn btn-primary" [disabled]="!nextPage" (click)="nextPageHandler()">Next</button>
      </div>
    </div>
  </div>
</div>
