<div class="container my-5">
  <div class="row justify-content-center">

    <div class="col-12 col-md-6 col-lg-6 my-5">
      <div class="card  border-0">
        <div class="card-body p-5">
          <!-- Form Header -->
          <h3 class="text-center mb-4">Register</h3>
          <form (ngSubmit)="onSubmit()">
            <!-- Username Field -->
            <div class="mb-3">
              <label for="exampleInputname" class="form-label">Username</label>
              <input
                type="text"
                class="form-control"
                id="exampleInputname"
                [(ngModel)]="username"
                name="username"
                placeholder="Enter your username"
                required
              />
            </div>
            <!-- Email Field -->
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email Address</label>
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                [(ngModel)]="email"
                name="email"
                placeholder="Enter your email"
                required
              />
            </div>
            <!-- Password Field -->
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                id="exampleInputPassword1"
                [(ngModel)]="password"
                name="password"
                placeholder="Enter your password"
                required
              />
            </div>
            <!-- Submit Button -->
            <div class="d-flex justify-content-center">
              <button type="submit" class="btn btn-outline-danger">Register</button>
            </div>
            <div class="text-center mt-3">
              <a routerLink="/login" class="text-decoration-none text-secondary">Already have an account? Login here</a>
            </div>
          </form>
        </div>
      </div>
      <!-- Additional Links -->

    </div>
    <div class="col-12 col-md-6 col-lg-6">
      <img src="https://img.freepik.com/free-vector/add-user-concept-illustration_114360-557.jpg?t=st=1732129538~exp=1732133138~hmac=5b4cabaa190111d4f63dcb5ab918b6e757c155fbb5ac051e93c73238f82625e4&w=740"
        class=" img-fluid" alt="">
    </div>
  </div>
</div>
