<div>
  <div class="position-relative">
    <div
      id="carouselExampleAutoplaying"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="../../../assets/bg.jpg"
            class="d-block w-100"
            alt="..."
            style="max-height: 700px"
          />
        </div>
        <div class="carousel-item">
          <img
            src="../../../assets/home2 (1).jpg"
            class="d-block w-100"
            alt="..."
            style="max-height: 700px"
          />
        </div>
        <div class="carousel-item">
          <img
            src="../../../assets/home2 (2).jpg"
            class="d-block w-100"
            alt="..."
            style="max-height: 700px"
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div class="position-absolute top-50 start-50 translate-middle">
      <h1 class="text-white">Welcome</h1>
    </div>
  </div>

  <div class="mx-5 mt-5">
    <div class="row row-cols-1 row-cols-md-2 d-flex align-items-center">
      <div class="mb-2">
        <div class="card border-0">
          <div class="card-body">
            <h5
              class="card-title text-center"
              style="font-family: Sofia, sans-serif"
            >
              About Us
            </h5>
            <p class="card-text">
              we strive to provide top-notch services that exceed expectations.
              Our team of experts is dedicated to ensuring your success
            </p>
          </div>
        </div>
      </div>
      <div>
        <img
          src="../../../assets/2.jpg"
          class="w-100 rounded"
          alt="Responsive image"
        />
      </div>
    </div>
  </div>
  <div class="mx-5 my-5">
    <div class="row row-cols-1 row-cols-md-2 d-flex align-items-center">
      <div class="">
        <img
          src="../../../assets/4.jpg"
          class="w-100 rounded"
          alt="Responsive image"
        />
      </div>
      <div class="mt-2">
        <div class="card border-0">
          <div class="card-body">
            <h5
              class="card-title text-center"
              style="font-family: Sofia, sans-serif"
            >
              Our Promise
            </h5>
            <p class="card-text">
              We guarantee exceptional results, backed by years of experience
              and a commitment to quality.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
<h2 class="text-center my-5" style="font-family: Sofia, sans-serif">
  What Makes Us Stand Out
</h2>
  <div class="mt-5  container">
    <div class="row row-cols-1 row-cols-md-3 ">
      <div class="d-flex justify-content-center py-5">
        <div class="card mb-3 bg-body-tertiary border-0" style="max-width: 18rem">
          <div class="card-header text-center text-info bg-transparent border-0"> 🏆 Why Choose Us?</div>
          <div class="card-body text-center">
            <p class="card-title ">We deliver quality, reliability, and trust</p>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center py-5">
        <div class="card mb-3 bg-body-tertiary border-0" style="max-width: 18rem">
          <div class="card-header text-center text-danger bg-transparent border-0"> 🛠️  What We Offer</div>
          <div class="card-body text-center">
            <p class="card-title px-5">Services tailored to your needs.</p>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center py-5">
        <div class="card mb-3 bg-body-tertiary border-0 " style="max-width: 18rem">
          <div class="card-header text-center text-warning bg-transparent border-0 ">🌟  Our Mission</div>
          <div class="card-body text-center">
            <p class="card-title ">Empowering individuals and businesses through innovation</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
