# Ignore Python bytecode files
*.pyc
*.pyo
*.pyd
__pycache__/

# Ignore the virtual environment directory (if used)
venv/
env/

# Ignore Django migrations
**/migrations/*

# Ignore database files
db.sqlite3

# Ignore Django secret key (if you don't want to store it in your settings.py)

# Ignore log files
*.log

# Ignore media files if you don't want to upload them to GitHub
media/

# Ignore static files if they are collected separately
static/

# Ignore .env files containing sensitive information
.env
